.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
NibViwer.xcodeproj/xcuserdata/*
NibViwer.xcodeproj/project.xcworkspace/xcuserdata/*
*/xcuserdata/
HISTORY.txt
README.txt
.DS_Store

.DS_Store
*.pyc
*.pyd
*.db